serial
pytest
pytest-mock
pyserial
opencv-python
supabase
ultralytics
inference==0.9.12rc1
supervision==0.19.0rc3
pillow
pyrealsense2; platform_system == "Windows" or platform_system == "Linux"
pyrealsense2-macosx; platform_system == "Darwin"